html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 700px;
}
body {
    background: #66ccff;
}
.container {
    height: 600px;
    width: 66%;
    min-width: 1000px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.background{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    border-radius: 10px;
}
.background:before {
    -webkit-transform: skew(-6deg) rotate(-2deg);
    -moz-transform: skew(-6deg) rotate(-2deg);
    transform: skew(-6deg) rotate(-2deg);
    left: 20px;
}
.background:after {
    -webkit-transform: skew(6deg) rotate(2deg);
    -moz-transform: skew(6deg) rotate(2deg);
    transform: skew(6deg) rotate(2deg);
    right: 20px;
}

.background:before, .background:after {
    width: 70%;
    height: 55%;
    content: ' ';

    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 15px;
    z-index: -1;
}
.copyright {
    height: 25px;
    width: fit-content;
    position: relative;
    top: calc((100% - 600px) - 30px);
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.5);
}